body{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.border {
  border-width: 5px;
  border-color: grey;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.title{
  margin: 5px 0px;
  font-size: 20px;
  font-family: Arial;
}
